*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   background-image: url(../img/fonfog.jpg);
    font-family: Berlin Sans FB;
}
h1{
    text-align: center;
    font-size: 60px;
    margin: 15px 0px  35px;
    color:#e59866;
    text-shadow: 2px 2px 8px #000000;
}
.content{
    width: 100%;
    max-width: 910px;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content:  center;
    text-align: center;
    flex-wrap: wrap;
  
}
.table{
    width: 33%;
    height: 900px;
    margin: auto;
    border: 2px solid #dc7633;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 0px #000000;
    text-align: center;
    flex-wrap: 1;
    color: black;
    text-shadow: 3px 3px 5px #f4f6f7;
}
.table>h2{
    font-size: 30px;
    margin-bottom: 10px;

}
.table img {
    width: 200px;
    margin-top: 20px;
    border-bottom:30px; 
     height: 35%;

}
.table>h3{
    font-size: 40px;
    margin-bottom: 10px;

}
.table>sup{
    font-size: 25px;
}
.table>p{
    font-size: 20px;
}
.boton{
    display: inline-block;
    width: 200px;
    padding: 20px;
    background: #f5cba7;
    text-decoration: none;
    background: #f5cba7;
    color: #17202a ;
    border-radius: 30px;
    text-align: center;
    font-size: 13px;
    font-weight:500 ;
    margin: auto ;
    margin-top: 13px;
    cursor: pointer;
}
.table:hover{
background-color:#FFECA1 ;
color: #dc7633;
transition: 0.5s all;
transform:scale (1.1);
cursor:pointer; 
}
