*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
	body{
	background-image: url(../img/02.jpg);
	background-size: cover;
	font-family: Century Gothic;
	}
	.img-box{
	width: 300px;
	height: 400px;
	border-radius: 10%;
	box-shadow: 10px -1px 24px 0px rgba(0, 0, 0, 0.75);

	}
	.box {
	width: 430px;
	background: rgba(236, 112, 99, 0.5);
	margin: 100px auto;
	border-radius: 5px;
	padding: 20px;
	color: black;
	text-align: center;
	}
	.box h1{
	font-size: 28px;
	letter-spacing: 4px; /espacio entre lineas/
	font-weigh: 400;
	 border-top: 2px;/este sirve para separaras la imagen con las letras/
	 margin-bottom: 5px;
	 color: rgba(216, 255, 0, 0.1);
	 text-shadow: 0 0 3px #9a84d7, 0 0 5px #209ab2;
	}
	.box h2{
	font-size:35px ;
	letter-spacing: 4px; /espacio entre lineas/
	 /font-weigh: 600;/
	 margin-bottom: 5px;
	 color: #fff;
	}
	.box p{
	text-align: justify;/justificar texto/
	font-weight: 300px;
	color: #fff;
	}
	.box ul{
	list-style: none;/quitar estilo de lista/
	margin-top: 10px;/separacion/
	}
	ul li{
	display: inline-block;/dentro de un bloque para que se orientes las imagenes/
	}
	.box ul li a{
	color: white;
	font-size: 30px;
	padding: 8px 10px;
	display: block;
	transition: all 0.7s ease-in-out;
	}
	.box ul li a:hover{
	color: #209ab2;
	transform: scale(1.4);
	}